
body {
    background-color: #ffffff;
    color: rgb(0, 0, 0);
    font-family: Arial;

}
form {
    width: 300px;
    margin: auto;
}
table {
    width: 80%;

}
article{
    width: 500px;
    margin: auto;
}
script{
    text-align: center;
}
img {
    width: 100px;
    height: 100px;
}

h2 {
    color: rgb(0, 0, 0);
    margin-top: 20px;
}

button {
    padding: 10px 20px;
    font-size: 16px;
    margin-top: 20px;
    cursor: pointer;
    background-color: #664d92;
    color: rgb(215, 208, 123);
    border: none;
    border-radius: 5px;
}

button:hover {
    background-color: #45a049;
}
